<h1><%= @title = 'Update your classified' %></h1>

<%= render :partial => 'form' %>

<%= button_to "Delete classified", classified_path(@classified), :confirm => 'Are you sure you want to delete your classified?', :method => :delete %>
