<% @title = "Appsterdam: #{@classified.title}" %>
<div>
<%= render @classified %>
</div>
<div style="clear: both;">
<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="appsterdamrs">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>
