<div class="selection">Showing
<span>
<%== facet_links(@selection, :entity, ActiveSupport::OrderedHash[[
  ['all',        'all members'],
  ['company',    'companies'],
  ['student',    'students'],
  ['individual', 'individuals', ],
  ['group',      'groups']
]]) %>
</span>
who
<span>
<%== facet_links(@selection, :work_location, ActiveSupport::OrderedHash[[
  ['all',           'are anywhere'],
  ['appsterdam',    'are Appsterdammers'],
  ['applander',     'are Applanders'],
  ['appbroader',    'are Appbroaders', ]
]]) %>
</span>
doing
<span>
<%== facet_links(@selection, :work_type, ActiveSupport::OrderedHash[[
  ['all',                      'any work'],
  ['design',                   'design'],
  ['development',              'development'],
  ['management-executive',     'Management / Executive'],
  ['support-customer_service', 'Support / Customer service']
]]) %>
</span>
for
<span>
<%== facet_links(@selection, :platform, ActiveSupport::OrderedHash[[
  ['all',             'any platform'],
  ['web',             'The Web'],
  ['ios',             'iOS'],
  ['android',         'Android'],
  ['windows-phone-7', 'Windows Phone 7'],
  ['webos',           'WebOS'],
  ['osx',             'Mac OS X'],
  ['windows',         'Windows']
]]) %>
</span>.
</div>
