<div class="selection">Showing
<span>
<%== member_facet_links(@selection, :entity, ActiveSupport::OrderedHash[[
  ['all',        'all members'],
  ['company',    'companies'],
  ['student',    'students'],
  ['individual', 'individuals', ],
  ['group',      'groups']
]]) %>
</span>
who
<span>
<a href="#">are anywhere</a>
<ul>
  <li class="current"><a href="#">are anywhere</a></li>
  <li><a href="#">Appsterdammers</a></li>
  <li><a href="#">Applanders</a></li>
  <li><a href="#">Appbroaders</a></li>
</ul>
</span>
doing
<span>
<a href="#">any work</a>
<ul>
  <li class="current"><a href="#">any work</a></li>
  <li><a href="#">design</a></li>
  <li><a href="#">development</a></li>
  <li><a href="#">Management / Executive</a></li>
  <li><a href="#">Support / Customer service</a></li>
</ul>
</span>
for
<span>
<a href="#">iOS</a>.
<ul>
  <li><a href="#">any platform</a></li>
  <li><a href="#">The Web</a></li>
  <li class="current"><a href="#">iOS</a></li>
  <li><a href="#">Android</a></li>
  <li><a href="#">Windows Phone 7</a></li>
  <li><a href="#">WebOS</a></li>
  <li><a href="#">Mac OS X</a></li>
  <li><a href="#">Windows</a></li>
</ul>
</span>
</div>
