<h1><%= @title = "Update your membership listing" %></h1>

<%= button_to "Delete membership listing", member_path(@member), :confirm => 'Are you sure you want to delete your listing?', :method => :delete %>

<%= form_for @member do |f| %>
  <%= render 'members/form', :f => f %>
<% end %>