<h1><%= @title = 'Authentication failed' %></h1>

<p>
  It seems something went wrong an we weren't able to authenticate you with
  Twitter. If you like, you can <%= link_to 'give it another try', new_member_path %>.
</p>